<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/barber-icons.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/responsividade.css">
    <script src="https://kit.fontawesome.com/8b299f3b3f.js" crossorigin="anonymous"></script>
    <title>Barbearia-MF </title>
</head>

<body>

    {{{body}}}

    <footer>
       
        <i class="fa-solid fa-arrow-up" title="voltar ao topo" onclick="topFunction()" id="btnTop"></i>
        <p>&copy;2024 - Desenvolvido por MF</p>
    </footer>
</body>

<script src="/js/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

</html>