<div class="agendar">
    <div class="container-agendar">
    <h1 class="titulo">Agendar</h1>
        <form action="/agendar" method="post" class="form-agendar" id="form-agendar">
            <h2 style="color: #fff;margin-bottom:10px">Preencha os campos</h2>
            <input type="text" name="nome" id="nome" placeholder="Nome completo:" required>
            <input type="tel" name="telefone" id="telefone" placeholder="Telefone:" required>
            <label for="data">Data</label>
            <input type="date" name="data" id="data" required>
            <label for="horario">Horário </label>
            <select name="horario" class="horario" required>
                <option value="08:00">08:00</option>
                <option value="09:00">09:00</option>
                <option value="10:00">10:00</option>
                <option value="11:00">11:00</option>
                <option value="12:00">12:00</option>
                <option value="13:00">13:00</option>
                <option value="14:00">14:00</option>
                <option value="15:00">15:00</option>
                <option value="16:00">16:00</option>
                <option value="17:00">17:00</option>
            </select>

            <label for="servico"> Serviços </label>
            <select name="servico" class="servico" required>
                <option value="corte de cabelo">Corte de cabelo - R$ 20,00</option>
                <option value="barba">Barba - R$ 15,00</option>
                <option value="sobrancelha">Sobrancelha - R$ 10,00</option>
                <option value="pigmentação">Pigmentação - R$ 20,00</option>
                <option value="combo">Combo - R$ 30,00</option>
            </select>
            <input type="submit" value="Agendar" class="btn-agendamento"
                onclick="return confirm('Confirmar o  agendamento? ✅🕒');">
        </form>
    </div>
</div>

<script>
    function setDataMinima() {
        const dataAtual = new Date();
        const ano = dataAtual.getFullYear();
        const mes = (dataAtual.getMonth() + 1).toString().padStart(2, '0'); 
        const dia = dataAtual.getDate().toString().padStart(2, '0'); 
        const minDate = `${ano}-${mes}-${dia}`;

        document.getElementById('data').setAttribute('min', minDate);
    }

    window.onload = setDataMinima;

</script>