  <h1>Editar Agendamento</h1>
    <form action="/atualizar/<%= agendamento.id %>" method="POST">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" value="agendamentos.nome" required><br>
        <label for="telefone">Telefone:</label>
        <input type="text" id="telefone" name="telefone" value="agendamento.telefone" required><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="agendamento.email" required><br>
        <label for="data">Data:</label>
        <input type="date" id="data" name="data" value="agendamento.data" required><br>
        <label for="horario">Horário:</label>
        <input type="time" id="horario" name="horario" value="agendamento.horario" required><br>
        <label for="servico">Serviço:</label>
        <input type="text" id="servico" name="servico" value="agendamento.servico>" required><br>
        <button type="submit">Atualizar</button>
    </form>