<header>
    <nav>
        <a href="/"><img src="/img/logo2.svg" alt="logo" class="logo"></a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#sobre">Sobre</a></li>
            <li><a href="#servicos">Serviços</a></li>
            <li><a href="/loginUsuario">Agendar</a></li>
        </ul>
        <div class="header-redes">
            <a href="" class="redes-sociais" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="" class="redes-sociais" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        </div>
    </nav>

    <div class="header-conteudo">
        <h1 class="header-titulo"><span>Transformando</span> seu <span>visual</span> com <span>estilo</span> e
            <span>precisão</span>
        </h1>
        <p class="subtitulo">Horário de funcionamento: 08:00 ás 17:00</p>

        <a href="/loginUsuario"><button class="btn-agendar">Agendar um horário</button></a>
    </div>

</header>

<main>

    <section class="sobre" id="sobre">
        <h1 class="titulo">Sobre Nós</h1>
        <div class="container-sobre">
            <div class="sobre-left">
                <iframe width="90%" height="400" src="https://www.youtube.com/embed/W18jsNa8KmA?si=tAQ5mRKt0Ol_V10_"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="sobre-right">
                <h3>Bem-vindo à Barbearia MF</h3>
                <p>Na Barbearia MF, unimos tradição e modernidade para oferecer uma experiência de cuidado pessoal
                    única. Nossa equipe qualificada proporciona cortes de cabelo, aparos de barba e tratamentos faciais
                    com produtos de alta qualidade.</p>
                <h3>Nossos Serviços</h3>
                <p>
                    Oferecemos cortes de cabelo clássicos e modernos, aparos de barba e tratamentos faciais, utilizando
                    produtos de alta qualidade. Nossa equipe é altamente qualificada e sempre atualizada com as últimas
                    tendências e técnicas.</p>
                <h3>Visite-nos</h3>
                <p> Agende seu horário online ou visite-nos. Estamos ansiosos para conhecê-lo!</p>

            </div>

    </section>

    </div>
    <section class="servicos" id="servicos">
        <h1 class="titulo">Serviços</h1>
        <div class="container">

            <div class="card">
                <img src="/img/serviço1.jpg" alt="Serviço corte de cabelo" class="img" />
                <div class="card-info">
                    <p>Corte de cabelo <strong>R$ 45,00</strong></p>
                </div>
            </div>

            <div class="card">
                <img src="/img/serviço2.jpg" alt="Serviço barba" class="img" />
                <div class="card-info">
                    <p>Barba <strong>R$ 25,00</strong></p>
                </div>
            </div>

            <div class="card">
                <img src="/img/serviço3.jpg" alt="Serviço de combo" class="img" />
                <div class="card-info">
                    <p>Combo <strong>R$ 65,00</strong></p>
                </div>
            </div>

        </div>
    </section>


    <section class="profissionais" id="profissionais">
        <h2 class="titulo">profissionais</h2>
        <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" space-between="30"
            slides-per-view="3">
            <swiper-slide><img src="/img/barbeiro4.jpg" alt="barbeiro">
                <p class="nome-profissional">Alirio</p>
            </swiper-slide>
            <swiper-slide><img src="/img/barbeiro3.jpg" alt="barbeiro">
                <p class="nome-profissional">Lucas</p>
            </swiper-slide>
            <swiper-slide><img src="/img/barbeiro4.jpg" alt="barbeiro">
                <p class="nome-profissional">Felipe</p>
            </swiper-slide>
            <swiper-slide><img src="/img/barbeiro3.jpg" alt="barbeiro">
                <p class="nome-profissional">Sergio</p>
            </swiper-slide>
        </swiper-container>

    </section>

    <section id="unidade">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.521976633064!2d-38.3897129249242!3d-12.938415987373926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x71617406c5e77d3%3A0x4ec6a2c9c19397b1!2sSENAI%20CIMATEC!5e0!3m2!1spt-BR!2sbr!4v1719540045001!5m2!1spt-BR!2sbr"
            width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>

    <a href="https://wa.link/xuebao" class="whatsapp-fixed" target="_blank" style="text-decoration: none;"><i
            class="fa-brands fa-whatsapp" title="Fale conosco"></i></a>

</main>