<header>
    <nav>
        <a href="/"><img src="/img/logo-white.svg" alt="logo" class="logo"></a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="#servicos">Serviços</a></li>
            <li><a href="">Unidades</a></li>
        </ul>
        <div class="header-redes">
            <a href="" class="redes-sociais" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="" class="redes-sociais" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        </div>
    </nav>
    <div class="header-conteudo">
        <h1 class="header-titulo">ESTILO É UM REFLEXO DA SUA ATITUDE E SUA PERSONALIDADE.</h1>
        <p class="subtitulo">Horário de funcionamento: 08:00 ás 17:00</p>
        <button></button>
        <a href="/agendar"><button class="btn-agendar">Agendar um horario</button></a>
    </div>
</header>

<main>
    <div class="servicos" id="servicos">
        <h1 class="titulo">Serviços</h1>
        <div class="container">
            <section class="card">
                <img src="/img/serviço1.jpg" alt="Serviço corte de cabelo" class="img" />
                <section class="card-info">
                    <p>Corte de cabelo <strong>R$ 45,00</strong></p>
                </section>
            </section>

            <section class="card">
                <img src="/img/serviço2.jpg" alt="Serviço barba" class="img" />
                <section class="card-info">
                    <p>Barba <strong>R$ 25,00</strong></p>
                </section>
            </section>

            <section class="card">
                <img src="/img/serviço3.jpg" alt="Serviço de combo" class="img" />
                <section class="card-info">
                    <p>Combo <strong>R$ 65,00</strong></p>
                </section>
            </section>
        </div>
    </div>


</main>