<header>
    <nav>
        <a href="/"><img src="/img/logo-white.svg" alt="logo" class="logo"></a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#sobre">Sobre</a></li>
            <li><a href="#servicos">Serviços</a></li>
            <li><a href="#unidade">Unidades</a></li>
        </ul>
        <div class="header-redes">
            <a href="" class="redes-sociais" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="" class="redes-sociais" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        </div>
    </nav>
    <div class="header-conteudo">
        <h1 class="header-titulo"><span>Transformando</span> seu <span>visual</span> com <span>estilo</span> e
            <span>precisão</span>
        </h1>
        <p class="subtitulo">Horário de funcionamento: 08:00 ás 17:00</p>

        <a href="/agendar"><button class="btn-agendar">Agendar um horário</button></a>
    </div>
</header>

<main>
    <section class="sobre" id="sobre">
        <h1 class="titulo">Sobre Nós</h1>
        <div class="container-sobre">
            <div class="sobre-left">
                <img src="/img/sobre.jpg" alt="Nossa barbearia" class="img-sobre">

            </div>
            <div class="sobre-right">
                <h3>Bem-vindo à Barbearia MF</h3>
                <p>Na Barbearia MF, unimos tradição e modernidade para oferecer uma experiência de cuidado pessoal
                    única. Nossa equipe qualificada proporciona cortes de cabelo, aparos de barba e tratamentos faciais
                    com produtos de alta qualidade.</p>
                <h3>Nossos Serviços</h3>
                <p>
                    Oferecemos cortes de cabelo clássicos e modernos, aparos de barba e tratamentos faciais, utilizando
                    produtos de alta qualidade. Nossa equipe é altamente qualificada e sempre atualizada com as últimas
                    tendências e técnicas.</p>
                <h3>Visite-nos</h3>
                <p> Agende seu horário online ou visite-nos. Estamos ansiosos para conhecê-lo!</p>

            </div>

    </section>

    </div>
    <section class="servicos" id="servicos">
        <h1 class="titulo">Serviços</h1>
        <div class="container">

            <section class="card">
                <img src="/img/serviço1.jpg" alt="Serviço corte de cabelo" class="img" />
                <section class="card-info">
                    <p><img src="/img/tesoura.png" alt="icone tesoura">Corte de cabelo <strong>R$ 45,00</strong></p>
                </section>
            </section>

            <section class="card">
                <img src="/img/serviço2.jpg" alt="Serviço barba" class="img" />
                <section class="card-info">
                    <p><img src="/img/barba.png" alt="icone barba">Barba <strong>R$ 25,00</strong></p>
                </section>
            </section>

            <section class="card">
                <img src="/img/serviço3.jpg" alt="Serviço de combo" class="img" />
                <section class="card-info">
                    <p>
                        <img src="/img/combo.png" alt="icone combo">
                        Combo <strong>R$ 65,00</strong>
                    </p>
                </section>
            </section>
        </div>
    </section>
 
    <section class="profissionais">
        <h2 class="titulo">profissionais</h2>
        <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" space-between="30"
            slides-per-view="3">
            <swiper-slide><img src="/img/barbeiro4.jpg" alt="barbeiro"></swiper-slide>
            <swiper-slide><img src="/img/barbeiro2.jpg" alt="barbeiro"></swiper-slide>
            <swiper-slide><img src="/img/barbeiro3.jpg" alt="barbeiro"></swiper-slide>
            <swiper-slide><img src="/img/barbeiro4.jpg" alt="barbeiro"></swiper-slide>
            <swiper-slide><img src="/img/barbeiro2.jpg" alt="barbeiro"></swiper-slide>
        </swiper-container>
      
    </section>

    <section id="unidade">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d124448.2089295244!2d-38.42985343298432!3d-12.907301492211037!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1smapa%20cimatec!5e0!3m2!1spt-BR!2sbr!4v1718557574667!5m2!1spt-BR!2sbr"
            width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>

    <a href="https://wa.link/xuebao" class="whatsapp-fixed" target="_blank" style="text-decoration: none;"><i
            class="fa-brands fa-whatsapp"></i></a>


</main>