<div class="login">
    <h1 class="titulo">Login </h1>
    {{!-- <a href="/" style="margin: auto;"><img src="/img/logo-white.svg" alt="Logo da barbearia" width="100px" ;></a> --}}
    <form action="" method="post" class="form-login">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" placeholder="Informe seu email" required>
        <label for="senha">Senha:</label>
        <input type="password" name="senha" id="senha" placeholder="Informe sua senha" required>
        <input type="submit" value="Login">
    </form>
</div>