<div class="login">
    <h1 class="titulo">Login Administrador</h1>
    <form action="/loginAdmin" method="post" class="form-login">
        <a href="/"><img src="/img/logo2.svg" alt="Logo da barbearia" class="login-logo"></a>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>
        <label for="senha">Senha:</label>
        <input type="password" name="senha" id="senha" autocomplete="current-password" required>
        <input type="submit" value="Login" class="btn-login">
    </form>
</div>