@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

:root {
    --light: #fff;
    --background: #0D121E;
}

.titulo {
    color: var(--light);
    justify-content: center;
    text-align: center;
    margin: 20px 20px 0 0;
    font-size: 39px;
    text-transform: uppercase;
}

/* PAGINA AGENDAR */
.agendar {
    display: flex;
    flex-direction: column;
    height: auto;
}

.form-agendar {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 30px;
    width: 500px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid #F0B35B;
    border-radius: 16px;
}

.form-agendar input,
#horario,
#servico {
    width: 70%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
}

.form-agendar label {
    color: var(--light);
    margin-top: 10px;
    font-weight: bold;
}

.btn-agendamento {
    cursor: pointer;
    background-color: #080b13;
    color: var(--light);
}

/* PAGINA LOGIN  */
.login {
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
}

.form-login {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
    height: 250px;
    border-radius: 16px;
    justify-content: center;
    background-color: transparent;
    border: 2px solid #F0B35B;

}

.form-login input {
    margin: 10px 50px;
    padding: 8px;
    border-radius: 8px;

}

.form-login label {
    color: #fff;
}

/* PAGINA ADMIN */
.header-admin {
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: space-between;
    margin: 20px 30px;
}

a .fa-arrow-left {
    padding: 10px;
    background-color: #F0B35B;
    border-radius: 100%;
}

.fa-arrow-left {
    font-size: 25px;
    color: #000000;
}

.admin {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: auto;
}

.admin h1 {
    margin-bottom: 50px;
}

.tabela {
    background-color: var(--light);
    margin: 0 60px;
}

.tabela th {
    font-weight: bold;
    text-transform: uppercase;
}

.tabela th,
.tabela td {
    border: 1px solid #000000;
    text-align: left;
    padding: 5px;
    width: auto;
    text-align: center;
}

.tabela thead {
    background-color: #F0B35B;
}

.tabela input {
    font-size: 16px;
    text-align: center;
}

td i {
    color: #000;
    font-size: 25px;
    margin: 5px;
    border: 2px solid #000000;
    padding: 10px;
    border-radius: 50px;
    transition: all 0.3s;
    background-color: #F0B35B;
}

td i:hover {
    color: #fff;
}

dialog {
    justify-content: center;
    margin: auto;
    padding: 10%;
    border-radius: 8px;
    background-color: rgb(214, 214, 214);

}

body {
    background-color: var(--background);
    margin: 0;
}

header {
    background-image: url("/img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.logo {
    height: 80px;
    margin: 15px 0;
}

nav {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 20px;
}


nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: var(--light);
    text-transform: capitalize;
    transition: all 0.3s;
    font-size: 20px;
    margin: 0 15px;
}

nav ul li a:hover {
    color: #adadad;
}

.header-redes {
    display: flex;
    align-items: center;
    gap: 20px;
}

.redes-sociais {
    color: #fff;
    transition: all 0.5s;
    font-size: 25px;
}

.redes-sociais:hover {
    cursor: pointer;
    color: #F0B35B;
}

.header-conteudo {
    margin: 10% auto;
    max-width: 400px;
    justify-content: center;
    text-align: center;

}

.header-conteudo h1 {
    margin-bottom: 10px;
    color: #fff;
    display: block;
}

.header-conteudo p {
    color: #a5a4a4;
}

.btn-agendar {
    padding: 10px;
    font-size: 16px;
    margin-top: 20px;
    background-color: #F0B35B;
    color: black;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.btn-agendar:hover {
    background-color: #e6b570;
}

.servicos {
    display: flex;
    flex-direction: column;
    margin: 30px 45px;
}

.container {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.card {
    background-color: #F0B35B;
    flex-direction: column;
    margin: 20px;
    width: 300px;
    height: 300px;
    transition: all 0.3s ease-out;
}

.card:hover {
    transform: translateY(-10px);
}

.img {
    width: 100%;
    height: 85%;
}

.card-info {
    text-align: center;
    font-weight: 700;
    margin-top: 5px;
    color: #000;
}

footer {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 50px;
    background-color: #080b13
}

footer p {
    color: var(--light);
    font-weight: 500;
}