@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}



:root {
    --background: #1e1e20;
    --background1: rgb(19, 19, 19);
    --secundario1: rgb(230, 141, 18);
    --secundario: #eb9c2d;
    --secundario-1: #e7ab57;
    --light: #fff;

}

.titulo {
    color: var(--light);
    justify-content: center;
    text-align: center;
    margin: 15px;
    font-size: 39px;
    font-weight: bold;
    text-transform: uppercase;
}

/* FORM USUARIO / USUARIO NOVO / ADMIN */
.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    min-height: 110vh;
    text-align: center;
}

.login-logo {
    width: 100px;
    margin: 10px 0;
}

.form-login {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 50px auto;
    padding: 5px;
    height: auto;
    border-radius: 16px;
    justify-content: center;
    background-color: transparent;
    border: 4px outset var(--secundario);

}


.form-login input {
    margin: 10px auto;
    padding: 8px;
    width: 90%;
    border-radius: 8px;
}

.form-login label {
    color: #fff;
    margin-top: 5px;
}

.btn-login {
    cursor: pointer;
    transition: all 0.3s;
    background-color: var(--secundario);
    color: #000;
    border: none;
    font-weight: 600;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
}

.btn-login:hover {
    background-color: var(--secundario-1);
}

.form-login a {
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
    transition: all 0.2s;
}

.form-login a:hover {
    color: #dbdada;

}

/* PAGINA AGENDAR */
.agendar {
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 100vh;
}

.form-agendar {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 50px;
    padding: 10px;
    width: 450px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 4px outset var(--secundario);
    border-radius: 16px;
}

.form-agendar input,
.horario,
.servico {
    width: 80%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
}

.form-agendar label {
    color: var(--light);
    margin-top: 2px;
    font-weight: 400;
}

.btn-agendamento {
    cursor: pointer;
    transition: all 0.3s;
    background-color: var(--secundario);
    color: #000;
    font-weight: 600;
    font-size: 16px;
    margin-top: 20px;
}

.btn-agendamento:hover {
    background-color: #e6b570;
}


/* CONTEUDO PRINCIPAL */
body {
    background-color: var(--background);
}

header {
    background-image: url("/img/banner.jpg");
    background-repeat: no-repeat;
    align-items: center;
    background-size: cover;
    background-position: top center;
    height: 100vh;
}

.logo {
    width: 100px;
    height: auto;
    margin-top: 20px;
}

nav {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 20px;
}


nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: var(--light);
    font-weight: bold;
    text-transform: capitalize;
    transition: all 0.3s;
    font-size: 20px;
    margin: 0 15px;
}

nav ul li a:hover {
    color: #adadad;
}

.header-redes {
    display: flex;
    align-items: center;
    gap: 20px;
}

.redes-sociais {
    color: #fff;
    transition: all 0.5s;
    font-size: 30px;
}

.redes-sociais:hover {
    cursor: pointer;
    color: #F0B35B;
}

.header-conteudo {
    margin: 8% auto;
    max-width: 400px;
    justify-content: center;
    text-align: center;
}

header .header-titulo {
    font-family: "Freeman", sans-serif;
    font-size: 50px;
    justify-content: center;
    margin-bottom: 10px;
    color: #ffffff;
    display: block;
}

header .header-titulo span {
    color: #eb9c2d;
}

.header-conteudo p {
    color: #a5a4a4;
}

.btn-agendar {
    padding: 14px;
    font-size: 16px;
    margin-top: 30px;
    width: 60%;
    border-radius: 6px;
    background-color: var(--secundario);
    color: black;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}

.btn-agendar:hover {
    background-color: var(--secundario-1);
}

/* SOBRE NOS */
.sobre {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 60px;
    background-color: var(--background)
}

.container-sobre {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.img-sobre {
    width: 300px;
    height: 400px;
    border-radius: 16px;
    transition: all 0.3s ease-out;
}

.img-sobre:hover {
    transform: translateY(-20px);
}

.sobre-left,
.sobre-right {
    width: 40%;
    justify-content: center;
    align-items: center;
    margin: 50px;
    text-align: center;
}

.sobre-right {
    align-items: center;
    text-align: center;
    border-radius: 16px;
    padding: 10px;
    background-color: #383838;
}

.sobre-right p {
    margin: 15px 30px;
    color: #fff;
    font-size: 16px;
}

.sobre-right h3 {
    font-size: 20px;
    color: #fff;
}

/* SERVIÇOS */
.servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    text-align: center;
    background-color: var(--secundario1);
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}

.card {
    background-color: var(--secundario);
    width: 300px;
    height: 300px;
    border-radius: 16px;
    overflow: hidden;
    margin: 20px;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover {
    transform: translateY(-10px);
}

.card .img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.card-info {
    padding: 20px;
    background-color: #fff;
    border-radius: 0 0 8px 8px;
}

.card-info p {
    margin: 0;
    font-weight: 700;
    color: #000;
    font-size: 1.2rem;
    line-height: 1.5;
}

/* PROFISSIONAIS */
.profissionais {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: var(--background);
    box-shadow: 0 -20px 10px -20px rgba(0, 0, 0, 0.5);

}

swiper-container {
    width: 900px;
    height: auto;
    margin: auto;
}

swiper-slide {
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nome-profissional {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    padding: 10px;
    margin: 0;
    font-size: 16px;
}

.whatsapp-fixed {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #25d366;
    color: white;
    font-size: 30px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.whatsapp-fixed:hover {
    background-color: #4ed27f;
}

footer {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
    background-color: var(--background1)
}

footer .fa-arrow-up {
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    margin: 20px;
}

footer p {
    color: var(--light);
    font-weight: 500;
}